<!DOCTYPE html>
<html lang="en">

<head>
    <title>404</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/web-server/public/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Mahesh Pagar. It uses data from mapbox.com and Weatherstack.
        <br>
        Please click on the Navigation Bar to follow correct Path.
        <br>
        <b>Thank You for vising this page!!!</b>
        </p>
    </div>
    
    {{>footer}}
    
    
</body>

</html> 