<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    
    <link rel="icon" href="./images/about.png">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/web-server/public/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h4>This is {{title}}</h4>
        <img class="portrait" src="./images/ME.jpg" alt="image from images">
    </div>
    {{>footer}}
</body>

</html>